<% if @comment.blank? -%>
  $("#comment-success").html('<div class="alert alert-danger">画像文字の入力が間違っています。もう一回入力してください</div>');
<% elsif @comment.new_record? -%>
  $("#comment-success").html('<div class="alert alert-danger">コメントを入力してください</div>');
<% else -%>
  $("#comments").append('<%= j(render partial: 'comments/comment', locals: {comment: @comment}) %>');
  $("#comment-success").html('<div class="alert alert-success">成功しました!コメントありがとうございます！</div>');
  $("#comment-form").collapse('hide');
<% end %>

if($(".recaptcha-reload")[0]){
  Recaptcha.reload();
}
