<div class="page-header">
  <h3>
    <%= fa_icon "comments", text: "クチコミ・レビュー" %>
  </h3>
</div>

<div id="comments">
  <%= render partial: 'comments/comment', collection: thing.comments, as: :comment -%>
</div>

<div id="comment-success"></div>

<div class="visible-xs text-center">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#comment-form">
    新規書き込み
  </button>
</div>
<div class="hidden-xs">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#comment-form">
    新規書き込み
  </button>
</div>

<div id="comment-form" class="collapse">
  <br />
  <%= render partial: 'comments/form', locals: {thing: thing} -%>
</div>
