<div class="page-header">
  <h3>
    <%= fa_icon "comments", text: "Comment" %>
  </h3>
</div>

<div id="comments">
  <%= render partial: 'comments/comment', collection: thing.comments, as: :comment -%>
</div>

<%= render partial: 'comments/form', locals: {thing: thing} -%>
