<div class=" panel panel-default">
  <div class="panel-heading">簡単スタート</div>
  <div class="panel-body">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
	<div class="row">
	  <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-9 col-md-offset-3">
	    <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-lg btn-#{provider}" do fa_icon "#{provider}", text: "| #{provider.to_s.titleize}でスタートする" end %>
	  </div>
	</div>
	<br />
      <% end -%>
    <% end -%>
  </div>
</div>
