<div class="col-sx-12 col-md-10 col-md-offset-1">
  <h2>アイテムの共有</h2>

  <hr />

  <div class="panel panel-default">
    <div class="panel-heading">画像：</div>
    <ul class="list-group" id="show-images">
    </ul>
  </div>
  <%= render 'images/form' -%>
  <%= render 'form' %>

  <br />
  <%= link_to 'Back', things_path %>
</div>
