<div class="col-sx-12 col-md-10 col-md-offset-1">
  <h2>Create New Item</h2>

  <hr />

  <%= render 'images/form' -%>

  <div class="panel panel-default">
    <div class="panel-heading">Images</div>
    <ul class="list-group" id="show-images">
    </ul>
  </div>

  <%= render 'form' %>

  <br />
  <%= link_to 'Back', things_path %>
</div>
