<div class="row">

  <% @hot_things.each do |thing| -%>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
	<div class="panel-body">
	  <%= link_to_thing_thumbnail thing -%>
	  <%= content_tag(:p, "#{thing.name} #{thing.summary}") -%>
	</div>
      </div>
    </div>
  <% end -%>

</div><!--/row-->
