/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */

@import "bootstrap";
@import "font-awesome";


html {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
    padding-top: 70px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead, small {
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
}

footer {
    padding: 30px 0;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

// social
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item .img-responsive {
    margin: 0 auto;
}

.hr-point {
    border:none;
    border-top:dashed 1px #CCC;
    height:1px;
    color:#FFFFFF;
    margin: 0 6 0 6;
}

.emailInputAlert {
    position: fixed;
    right: 1em;
    top: 60px;
    z-index: 100;
}