.social {
    display: inline-block;
    height: 30px;
    overflow: hidden;
    text-align: left;
    vertical-align: bottom;
}

.hatena {
    float: left;
    width: 62px;
    height: 30px;
    overflow: hidden;
}

.twitter {
    float: left;
    width: 100px;
    height: 30px;
    overflow:hidden;
}

.facebook {
    float: left;
    width: 115px;
    height: 25px;
    line-height: 20px;
    overflow: hidden;
}