<%= simple_form_for Image.new, :html => { :multipart => true }, :remote => true do |f| %>
  <div class="form-group">
    <%= f.input :file, label: "Image", input_html: { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.button :submit, value: "Add Image"  %>
  </div>
<% end %>
