<%= simple_form_for Image.new, :html => { :multipart => true }, :remote => true do |f| %>
  <div class="form-group">
    <%= f.input :file, label: false, input_html: { style: "display:none" } %>
    <div id="upload-progress-bar"></div>
    <div id="image-upload">
      <a id="image-upload-btn" class="btn btn-primary btn-lg" >Add Image</a>（出来るだけ複数の画像を追加してくだい）
    </div>
  </div>
<% end %>
