<%= simple_form_for Image.new, :html => { :multipart => true }, :remote => true do |f| %>
  <div class="form-group">
    <%= f.input :file, label: false, input_html: { style: "display:none" } %>
    <a id="image-upload-btn" class="btn btn-primary btn-lg" >Select Image</a>
  </div>
<% end %>
